<div class="row">
  <div class="small-6 small-centered columns"><br>
    <h1 class="devise">
       New Deck
    </h1>

    <%= render 'form', deck: @deck %>
    <br>
    <%= link_to 'Back', decks_path %>
  </div>
</div>
