<div class="small-6 small-offset-3 columns"><br />
  <h1><%= @deck.name %></h1>
  <h4>Created by: <%= @creator.username %></h4>
  <div>
    <% if @creator == current_user %>
      <%= link_to 'Change Name', edit_deck_path(@deck) %> |
      <%= link_to 'Delete Deck', @deck, method: :delete%>
    <% end %>
  </div>
</div>
